.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Added transition property */
}
.direction {
  @apply bg-slate-500;  
  height: 50rem;
  width: 50rem;
  border: 1px solid black;
}
